*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.img1{
    width: 50px;
}
.p1{
 font-size: 10px;
}
.categories{
    padding: 10px;
}
@media screen and (min-width:990px){
    .img1{
        width: 70px;
    }
    .p1{
     font-size: 14px;
    } 
}